/* 标签页整体父容器 */
.manageContainer {
    position: relative;
    height: 99%;
    box-shadow: -4px 10px 10px -10px rgba(0, 0, 0, 0.25);
}

/* 右上角创建类按钮组的父容器 */
.createButtonWrapper {
    position: absolute;
    top: 0;
    right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
}

/* 右上角创建新角色按钮 */
#createNewCharacter {
    border-color: #8183FF;
    color: #8183FF;
    cursor: pointer;
    margin-right: 5%;
}

/* 右上角创建新用户按钮 */
#createNewUser {
    border-color: #3B90FF;
    color: #3B90FF;
    cursor: pointer;
}

/* 标签页正文卡片内的文字段落 */
.manageContainer p {
    margin: 0;
}

/* 标签页的正文卡片 */
.manageContainer > .ant-tabs-card .ant-tabs-content {
    height: 120px;
    margin-top: -16px;
}

/* 标签页正文卡片内的文字容器 */
.manageContainer > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    padding: 20px 27px 16px 27px;
    background: #fff;
    /* border-right: 5px solid rgba(153, 153, 153, 0.2); */
    /* border-bottom: 5px solid rgba(153, 153, 153, 0.2); */
    border-radius: 0px 5px 5px 5px;
}

/* 实现标签页卡片正文撑满中部屏幕 */
.ant-tabs-top, .ant-tabs-content {
    height: 100% !important;
    border-radius: 5px;
}

.ant-tabs-nav {
    margin-bottom: 0 !important;
}

.ant-tabs-content {
    margin-top: 16px !important;
}

.ant-tabs-content-holder {
    margin-top: -16px;
}

/* 标签页的标签 */
.ant-tabs-tab {
    margin-left: 0 !important;
    padding: 9px 19px !important;
    border: none !important;
    background-color: #67A1F3 !important;
    background-image: linear-gradient(60deg, #82B8FF , #606BFF) !important;
}

/* 标签页标签的文字 */
.ant-tabs-tab .ant-tabs-tab-btn {
    color: white !important;
}

/* 标签页被选中的标签 */
.ant-tabs-tab-active {
    background: white !important;
}

/* 标签页被选中标签的文字 */
.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #181818 !important;
}