/* 参考题库正文总的父容器 */
.mainWrapper {
    width: 100%;
    height: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* 输入及来源的信息父容器 */
.infoWrapper {
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* 输入搜索的父容器 */
.searchWrapper {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* 搜索框前提示文字 */
.searchWrapper > p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 搜索输入框 */
.searchInput {
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5px !important;
}

/* 立即搜索按钮 */
#searchButton {
    margin-right: 2%;
    background-color: #67A1F3;
    color: white;
}

/* 换一批按钮 */
#changeButton {
    border-color: #67A1F3;
    color: #67A1F3;
}

/* 参考题库来源文字 */
.whereIsFrom {
    /* background-color: yellow; */
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 爬虫结果展示区父容器 */
.detailsWrapper {
    width: 100%;
    height: 90%;
    padding: 1% 2%;
    border-radius: 5px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
	white-space: pre-line;
    overflow-y: auto;
}