/*
    覆盖定义Ant Design布局组件导航栏的样式
*/

/* 布局父容器 */
.ant-layout {
    width: 100%;
    height: 100%;
    background-color: #F2F2F2 !important;
}

/* 左侧导航栏 */
.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    height: 100% !important;
    box-shadow: 10px 0px 4px rgba(57, 57, 227, 0.25);
}

/* 左侧导航栏内的菜单 */
.ant-menu {
    background-color: transparent !important;
}

/* 左侧导航栏内菜单的项 */
.ant-menu-item {
    height: 60px !important;
    margin-top: 0 !important;
}

/* 左侧导航栏内菜单项的文字 */
.ant-menu-title-content {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.05em;
}

/* 左侧导航栏内菜单的项被选中时 */
.ant-menu-item-selected {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

/* 左侧导航栏内菜单的项被选中时的文字 */
.ant-menu-item-selected .ant-menu-title-content a {
    color: black !important;
}

/* 左侧导航栏内菜单的项被选中时的图标 */
.ant-menu-item-selected svg {
    color: black;
}

/* 右侧头部Header部分 */
.ant-layout-header {
    background-color: white !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

/* 右侧中间Content部分的父容器 */
.ant-layout-content {
    box-sizing: border-box !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 24px 16px 0px !important;
    /* overflow-y: scroll !important; */
}

/* 右侧中间Content部分 */
.site-layout-background {
    box-sizing: border-box !important;
    width: 100% !important;
    height: 100% !important;
}

/* 右侧顶部 */
Header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* 搜索框父容器 */
.ant-input-group-wrapper {
    margin-right: 50px !important;
    width: 300px !important;
}

/* 搜索框前缀父容器 */
.ant-input-affix-wrapper {
    border-radius: 1000px 0 0 1000px !important;
}

/* 搜索框输入部分 */
.ant-input {
    border-radius: 0;
}

/* 搜索框内的搜索按钮 */
.ant-input-search-button {
    background-color: #67A1F3 !important;
    background-image: linear-gradient(60deg, #82B8FF , #606BFF) !important;
    border-radius: 0 1000px 1000px 0 !important;
}

/*
    自定义样式
*/

/* Logo文字 */
#logoText {
    text-align: center;
    font-size: 1.3em;
    color: white;
    height: 63px;
    line-height: 63px;
    margin: 0;
    letter-spacing: 0.1em;
}

/* Logo底部分割线 */
#logoBottom {
    width: 100%;
    height: 2px;
    background-color: rgba(221, 221, 221, 0.5);
    backdrop-filter: blur(100px);
    margin: 0;
}

/* 左侧导航栏父容器 */
#frameSider {
    background-color: #5F6AFE;
    background-image: url('./background.png');
    background-size: 100% 100%;
}

/* 左侧导航栏内菜单项文字的中文部分 */
.menuTextChiness {
    font-weight: 600;
}

/* 左侧导航栏菜单项图标 */
.icon {
    width: 1.2em;
    height: 1.2em;
    padding-top: 2px;
    overflow: hidden;
}

/* 右侧顶部搜索框图标 */
#searchIcon {
    color: #D2D2D2;
    margin-right: 10px;
}