/* 总父容器 */
.mainWrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/* 表格上方行的父容器 */
.topLineWrapper {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

/* 表格上方行内的按钮父容器 */
.buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

/* 操作按钮 */
.editButtonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#editAgain, #changeStatus {
    margin-right: 10%;
}

#editAgain, #changeStatus, #exportPrinting {
    cursor: pointer;
}

#editAgain svg, #changeStatus svg, #exportPrinting svg {
    color: #333 !important;
}

/* 操作按钮的文字 */
.editButtonWrapper > p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 切换图标的父容器 */
.switchButton {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #3B90FF;
    padding: 5px 10px;
    border-radius: 0 0 5px 0;
    cursor: pointer;
}