/* 底部卡片父容器 */
.cardWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* 虚线父容器 */
.cardDashedWrapper{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* 虚线（为与父容器两端有一定的距离） */
.dashed {
    width: 95%;
    height: 1px;
    border-bottom: 1px dashed #DDDDDD;
}

/* 左侧整圆背景（为与页面背景融合） */
.leftCircleBg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F2F2F2;
    position: absolute;
    top: -10px;
    left: -10px;
}

/* 左侧半圆加内阴影 */
.leftCircle{
    width: 10px;
    height: 20px;
    border-radius: 0 10px 10px 0;
    background: #F2F2F2;
    box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.15) inset;
    position: absolute;
    top: -10px;
    left: 0;
}

/* 右侧整圆背景（为与页面背景融合） */
.rightCircleBg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F2F2F2;
    position: absolute;
    top: -10px;
    right: -10px;
}

/* 右侧半圆加内阴影 */
.rightCircle{
    width: 10px;
    height: 20px;
    border-radius: 10px 0 0 10px;
    background: #F2F2F2;
    box-shadow: 2px 0px 1px rgba(0, 0, 0, 0.15) inset;
    position: absolute;
    top: -10px;
    right: 0;
}

/* 工作数据和快捷入口部分 */
.workingData, .quickEntrance {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 工作数据和快捷入口卡片的标题 */
.workingData > h3, .quickEntrance > h3 {
    width: 100%;
    font-weight: bold;
    margin-top: 1%;
    margin-left: 5%;
}

/* 工作数据的数据内容 */
.dataWrapper {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

/* 单个环图数据的纵向父容器 */
.dataItem {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* 图表底部标题 */
.dataItem > p {
    width: 100%;
    margin-top: 3%;
    font-size: 0.8em;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 单个方框数据的纵向父容器 */
.dataItemSquare {
    width: 13%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 5px solid;
    border-image: linear-gradient(60deg, #82B8FF , #606BFF) 1;
    clip-path: inset(0 round 5px);
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.15);
}

/* 方框数据的标题 */
.dataItemSquare > h3 {
    align-self: flex-start;
    margin-top: 3%;
    margin-left: 7%;
}

/* 方框数据的落款 */
.dataItemSquare > p {
    align-self: flex-end;
    margin-bottom: 5%;
    margin-right: 10%;
    font-size: 1.2em;
}

/* 方框数据落款的数值 */
.dataItemSquare > p > span {
    font-size: 1.5em;
    font-weight: 500;
}

/* 快捷入口的按钮内容 */
.buttonWrapper {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 3%;
}

/* 单个快捷入口方框的父容器 */
.quickItem {
    box-sizing: border-box;
    width: 13%;
    height: 82%;
    margin-top: -1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    border: 4px solid;
    border-image: linear-gradient(60deg, #82B8FF , #606BFF) 1;
    clip-path: inset(0 round 5px);
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* 解决包裹Link标签后增加了a标签父容器，导致quickItem子元素缩小的问题 */
a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 单个快捷入口的图标部分父容器 */
.quickIconWrapper {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(60deg, #82B8FF , #606BFF);
}

/* 快捷入口图标 */
#quickIcon {
    color: white;
    font-size: 2.5em;
    margin-bottom: 0;
    margin-top: -2%;
}

/* 快捷入口底部标题父容器 */
.quickTitle {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* 快捷入口底部标题的文字 */
.quickTitle > h3 {
    margin: 0;
}