/* 底部卡片父容器 */
.cardWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* 虚线父容器 */
.cardDashedWrapper{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* 虚线（为与父容器两端有一定的距离） */
.dashed {
    width: 95%;
    height: 1px;
    border-bottom: 1px dashed #DDDDDD;
}

/* 左侧整圆背景（为与页面背景融合） */
.leftCircleBg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F2F2F2;
    position: absolute;
    top: -10px;
    left: -10px;
}

/* 左侧半圆加内阴影 */
.leftCircle{
    width: 10px;
    height: 20px;
    border-radius: 0 10px 10px 0;
    background: #F2F2F2;
    box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.15) inset;
    position: absolute;
    top: -10px;
    left: 0;
}

/* 右侧整圆背景（为与页面背景融合） */
.rightCircleBg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F2F2F2;
    position: absolute;
    top: -10px;
    right: -10px;
}

/* 右侧半圆加内阴影 */
.rightCircle{
    width: 10px;
    height: 20px;
    border-radius: 10px 0 0 10px;
    background: #F2F2F2;
    box-shadow: 2px 0px 1px rgba(0, 0, 0, 0.15) inset;
    position: absolute;
    top: -10px;
    right: 0;
}

/* 课程顶部信息栏父容器 */
.courseTopWrapper {
    background-color: white;
    width: 100%;
    height: 30%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10% 0 5%;
}

/* 课程图片 */
.courseTopWrapper > img {
    height: 60%;
}

/* 课程信息总父容器 */
.infoWrapper {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4%;
}

/* 课程信息左侧父容器 */
.infoLeft {
    width: 47.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* 课程信息右侧父容器 */
.infoRight {
    width: 47.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* 课程信息的文字 */
.infoLeft > p, .infoRight > p {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}