/* 信息卡片父容器 */
.cardWrapper{
    position: relative;
    width: 66%;
    height: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* 虚线父容器 */
.cardDashedWrapper{
    position: relative;
    box-sizing: border-box;
    width: 1px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 虚线（为与父容器两端有一定的距离） */
.dashed {
    width: 1px;
    height: 85%;
    border-right: 1px dashed #DDDDDD;
}

/* 顶部整圆背景（为与页面背景融合） */
.topCircleBg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F2F2F2;
    position: absolute;
    top: -10px;
    right: -10px;
}

/* 顶部半圆加内阴影 */
.topCircle{
    width: 20px;
    height: 10px;
    border-radius: 10px 10px 0 0;
    background: #F2F2F2;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15) inset;
    position: absolute;
    top: 0;
    right: -10px;
    transform: rotate(180deg);
}

/* 底部整圆背景（为与页面背景融合） */
.bottomCircleBg{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F2F2F2;
    position: absolute;
    right: -10px;
    bottom: -10px;
}

/* 底部半圆加内阴影 */
.bottomCircle{
    width: 20px;
    height: 10px;
    border-radius: 0 0 10px 10px;
    background: #F2F2F2;
    box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.15) inset;
    position: absolute;
    right: -10px;
    bottom: 0;
    transform: rotate(180deg);
}

/* 简要信息部分 */
.simpleInfo {
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 头像 */
#avatar {
    width: 50%;
}

/* 姓名 */
#name {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 7%;
    margin-bottom: 7%;
}

#miniInfo {
    width: 90%;
    font-size: 1em;
    color: #ACACAC;
    text-align: center;
    line-height: 1.7em;
    white-space: nowrap;
    overflow: auto;
}

/* 详细信息部分 */
.detailInfo {
    position: relative;
    width: 38%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    white-space: nowrap;
    overflow: auto;
}

/* 修改信息图标 */
#modify {
    position: absolute;
    width: 10%;
    top: 0px;
    right: 15%;
    cursor: pointer;
}

/* 详细信息内容（为信息内容左对齐且在卡片中部居中） */
.infoContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 1em;
}

/* 课程信息部分 */
.classInfo {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: auto;
}

/* 课程信息的正在授课标题 */
.classInfo > h4 {
    font-weight: 600;
    margin-bottom: 5%;
}

/* 详细信息单行 */
.classLine {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}

/* 详细信息的文字（为与图标纵向居中对齐） */
.classInfoContent {
    margin: 0;
}