/* 任务清单卡片父容器 */
.cardWrapper {
    position: relative;
    width: 32%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* 任务清单标题 */
.cardWrapper > h3 {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 4%;
    font-weight: bold;
    text-align: center;
}

/* 列表父容器 */
.listWrapper {
    width: 90%;
    height: 60%;
    overflow: auto;
    margin-left: 5%;
    padding-right: 5%;
}

/* 列表单行父容器 */
.listItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.5%;
}

/* 列表单行的左侧文字内容 */
.listItem > p {
    margin: 0;
    width: 75%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 前往按钮 */
#gotoButton {
    border-color: #07C160;
    color: #07C160;
    font-size: 0.8em;
    margin-left: 5%;
}

/* 底部按钮父容器 */
.buttonWrapper {
    position: absolute;
    width: 100%;
    right: 6%;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* 编辑按钮 */
#editButton {
    border-color: #3B90FF;
    color: #3B90FF;
    margin-right: 3%;
}